.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4em;
  height: 60px;
  background-color: #ffe58f;
}
.main-container{
  min-height: calc(100vh - 130px);
}

.footer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4em;
  height: 70px;
  background-color: #95de64;
}

.login-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(./assets/images/bg-merket-login.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(162, 240, 116, 0.1);
}

.register-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(./assets/images/bg-merket-register.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.register-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(162, 240, 116, 0.1);
}

.login-register-form {
  padding: 24px 16px;
  width: 400px;
  border-radius: 4px;
  background-color: #e6f7ff;
  z-index: 1;
  opacity: 0.8;
}

.login-register-title {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.notfound-container{
  /* margin: 10px 16px; */
  padding: 10px 16px;
  color: red;
  font-size: 80px;
  min-height: 100vh;
  background-color: #ffd6e7
}
